h1
{
    font-size:15px;
}
	
p
{
   font-size:5px;
}
								
.mesh wifi
{
   width:20px;
   height:15px;
   text-align:center;
}
.mesh2 wifi
{
   width:20px;
   height:15px;
   text-align:center;
}
.mesh3 wifi
{
   width:20px;
   height:15px;
   text-align:center;
}


